body {
    font-family: 'Creepster', cursive; /* Fuente de terror */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Ocupa el espacio restante */
    background-color: black;
    background: url(../img/IMGBG.png) no-repeat center center/cover;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto; /* Centra el contenedor */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #333 50%);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

header .izquierda, header .derecha {
    display: flex;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: inherit;
}

header a:hover {
    color: grey;
}

.icono {
    width: 35px; /* Tamaño base */
    max-width: 100%; /* Limita el tamaño máximo */
    height: auto; /* Mantiene la proporción */
}

nav {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

nav h1 {
    font-size: xx-large;
    margin: 0;
}

nav p {
    margin: 10px 0 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px; /* Más espacio entre imágenes */
    margin-bottom: 20px;
    flex-grow: 1; /* Ocupa el espacio restante */
}

.image {
    background: lightgray;
    border: 1px solid #999;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;
    width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}

footer {
    background: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: auto; /* Empuja el footer hacia abajo */
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header .izquierda, header .derecha {
        flex-direction: column;
        gap: 10px;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .image {
        height: 150px;
    }
}

@media (max-width: 480px) {
    nav h1 {
        font-size: x-large;
    }

    nav p {
        font-size: small;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }

    .image {
        height: 100px;
    }
}